<!-- Top nav bar (fixed) -->
<nav>
  <img src="https://i.pinimg.com/550x/33/81/b1/3381b1684477e149d7cbd222fb9d6263.jpg"
  style="width: 40px; height: 40px; object-fit: cover" class="logo"></img>

  <div class="container1">
    <span class="new_item">New item</span>
    <span class="my_messages">My Messages</span>
    <span class="my_favourites">My Favourites</span>
    <span class="Login/Register">Login/Register</span>
  </div>
</nav>
