<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create New Item</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/item.js"></script>
</head>


<body>
  <%- include("partials/_nav") %>


    <!-- my code starts here -->
    <div class="container">
      <h1>Create Item</h1>
      <div class="form-container">
        <!-- make sure that this form has a method of post and the action is /items/create, test by creating a new item -->
        <form id="create-item-form" method="post" action="/items/create" enctype="multipart/form-data">
          <div class="form-group">
            <label for="item-name">Item Name</label>
            <input type="text" id="item-name" name="item_name" required>
          </div>
          <div class="form-group">
            <label for="item-description">Description</label>
            <textarea id="item-description" name="item_description" required></textarea>
          </div>
          <div class="form-group">
            <label for="item-price">Price</label>
            <input type="number" id="item-price" name="item_price" required>
          </div>
          <div class="form-group">
            <label for="item-photo">Image</label>
            <input type="text" id="item-photo" name="item_photo" required>
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

</body>

</html>
