<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <%- include("partials/_nav") %>

  <span class="banner">
    <h1>Decór Reflect</h1>
    <div>Extraordinary Decor for Your Home</div>
  </span>

  <div class="module_container">
  <section class="new_container">
  <h2 class="new_items_header">NEW</h2>

    <!-- The new_item is repeated three times -->
    <div class="new_items">
    <article class="new_item">
      <span>
        <img class="new_item_photo" alt="new-item-photo" src="https://secure.img1-cg.wfcdn.com/im/81984608/resize-h800-w800%5Ecompr-r85/3986/39863949/Daniely+Irregular+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <h4 class="new_item_name">Mirror101</h4>
        <h4 class="new_item_price">$1000</h4>
        <p class="new_item_description">This is a description for new items</p>
      </span>
    </article>

    <article class="new_item">
      <span>
        <img class="new_item_photo" alt="new-item-photo" src="https://secure.img1-cg.wfcdn.com/im/81984608/resize-h800-w800%5Ecompr-r85/3986/39863949/Daniely+Irregular+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <h4 class="new_item_name">Mirror101</h4>
        <h4 class="new_item_price">$1000</h4>
        <p class="new_item_description">This is a description for new items</p>
      </span>
    </article>

    <article class="new_item">
      <span>
        <img class="new_item_photo" alt="new-item-photo" src="https://secure.img1-cg.wfcdn.com/im/81984608/resize-h800-w800%5Ecompr-r85/3986/39863949/Daniely+Irregular+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <h4 class="new_item_name">Mirror101</h4>
        <h4 class="new_item_price">$1000</h4>
        <p class="new_item_description">This is a description for new items</p>
      </span>
    </article>

    <article class="new_item">
      <span>
        <img class="new_item_photo" alt="new-item-photo" src="https://secure.img1-cg.wfcdn.com/im/81984608/resize-h800-w800%5Ecompr-r85/3986/39863949/Daniely+Irregular+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <h4 class="new_item_name">Mirror101</h4>
        <h4 class="new_item_price">$1000</h4>
        <p class="new_item_description">This is a description for new items</p>
      </span>
    </article>
  </div>
</section>



<h2 class="items_header">Mirrors</h1>
  <div class="filter">
    <input type="text" placeholder="min">
    <input type="text" placeholder="max">
    <button type="buttom">Filter</button>
  </div>
    <section class="items_container">
    <article class="item">
      <span>
        <img class="item_photo" alt="item-photo" src="https://secure.img1-cg.wfcdn.com/im/03219249/resize-h445%5Ecompr-r85/4244/42441310/Baroque+Arch+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <header class="item_name">Mirror2</header>
        <h3 class="item_price">$200</h3>
      </span>
    </article>

    <article class="item">
      <span>
        <img class="item_photo" alt="item-photo" src="https://secure.img1-cg.wfcdn.com/im/03219249/resize-h445%5Ecompr-r85/4244/42441310/Baroque+Arch+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <header class="item_name">Mirror2</header>
        <h3 class="item_price">$200</h3>
      </span>
    </article>


    <article class="item">
      <span>
        <img class="item_photo" alt="item-photo" src="https://secure.img1-cg.wfcdn.com/im/03219249/resize-h445%5Ecompr-r85/4244/42441310/Baroque+Arch+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <header class="item_name">Mirror2</header>
        <h3 class="item_price">$200</h3>
      </span>
    </article>

    <article class="item">
      <span>
        <img class="item_photo" alt="item-photo" src="https://secure.img1-cg.wfcdn.com/im/03219249/resize-h445%5Ecompr-r85/4244/42441310/Baroque+Arch+Wall+Mirror.jpg"/>
      </span>
      <span class="name_price">
        <header class="item_name">Mirror2</header>
        <h3 class="item_price">$200</h3>
      </span>
    </article>

  </section>

</div>
<p class="cp-text">
  © Copyright 2023 DecórReflect. All rights reserved.
</p>
</body>

</html>
