<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <img src="https://i.pinimg.com/550x/33/81/b1/3381b1684477e149d7cbd222fb9d6263.jpg"
    style="width: 40px; height: 40px; object-fit: cover" class="logo"></img>

    <div class="container1">
      <span class="new_item">New item</span>
      <span class="my_messages">My Messages</span>
      <span class="my_favourites">My Favourites</span>
      <span class="Login/Register">Login/Register</span>
    </div>
  </nav>

  <h2 class="item">Mirror1</h2>
  <span class="status">Status</span>
  <section class="/item"></section>


  <section class="items"></section>


</body>

</html>
