<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
		<link rel="stylesheet" href="/vendor/border-box.css" />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/layout.css" />
		<link rel="stylesheet" href="/styles/login.css" />

		<script src="/vendor/jquery-3.0.0.js"></script>
		<script defer src="/scripts/app.js"></script>
	</head>

	<body>
		<h1>login page</h1>
		<form class="form" action="/users/login" method="POST">
			<label for="username">user name:</label>
			<input type="text" id="username" name="username" value="" /><br />
			<label for="email">password:</label>
			<input type="password" id="email" name="email" value="" /><br /><br />
			<input class="button-login" type="submit" value="Login" />
		</form>
		<a href="/users/register">
			<button class="button-register">Register</button>
		</a>
	</body>
</html>
