.item {

  margin-top: 80px;
  width: 90%;


  .item_name {
      margin-bottom: 20px;
      width: 100%;
      height: 40px;
      border-bottom: solid black 2px;
    }

  .status {
    margin-bottom: 50px;

  }

  #rating {
    display: flex;
    direction: column;
    // background-color: blue;
    align-items: center;
  }

  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;


    #photo_and_favourite {
      // position: relative;
      // background-color: blue;
      width: 70%;
      .item_photo {
        padding-right: 50px;
        width: 100%;
        height: auto;
        // align-content: start;
        // align-items: start;
        // background-color: yellow;
      }

      .fa-heart {
        // display: inline-block;
        // position: relative;
        // position: absolute;
        color: grey;
        font-size: 35px;
      }

      .fa-heart:hover {
        color: rgb(246, 61, 61);
      }

    }

    #text_container {
      display: flex;
      direction: row;
      width: 50%;

      #item_text_box {
        width: 100%;
        // background-color: blue;
      }
      .item_price {
        margin-bottom: 50px;
      }

      #contact {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: rgb(250, 250, 206);
        border-radius: 20px;
      }
    }
  }


}
